__pycache__/


.Python
build/
venv/
ENV/
env/
.env
.venv
env.bak/
venv.bak/
.python-version

profile_default/
ipython_config.py

*.log
logs/
log/


.DS_Store
.project
.pydevproject

*.db
*.rdb

.env

.ruff_cache